html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

.container {
  height: 100%;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template: repeat(2, 1fr) / repeat(8, 1fr);
  justify-content: center;
  text-align: center;
  margin: 1em;
}

.left {
  background-color: lightblue;
  grid-column: 8 / -1;
  grid-row: 1 / -1;
}

.top {
  background-color: burlywood;
  grid-column: 1 / 8;
}

.bottom {
  background-color: cadetblue;
  grid-column: 1 / 8;
}

.wrapper {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  justify-content: center;
  text-align: center;
  margin: 1em;
}

.image {
  background-color: lightskyblue;
  grid-column: 1 / 4;
}

.button {
  background-color: lightcoral;
  grid-column: 4 / -1;
  grid-row: 1 / -1;
}

.info {
  background-color: lightslategray;
  grid-column: 1 / 4;
}

.socmed {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4em;
  cursor: pointer;
}